@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";


:root {
  --primary: #1d4ed8;
  --secondary: #f6f6f6;
  --accent: #ff9b00;

  --highlight-color:#273d89;

  --background: #ffffff;
  --foreground: #000000;
  --button-hover:#2b2a2a;

  --text-black: #000000;
  --text-gray: #47484b;
  --text-light-gray: #878a90;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-black: var(--text-black);
  --color-gray: var(--text-gray);
  --color-light-gray: var(--text-light-gray);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Jost", Arial, Helvetica, sans-serif;
}

/* Target scrollbar */
::-webkit-scrollbar {
  width: 8px;       /* width of vertical scrollbar */
  height: 2px;      /* height of horizontal scrollbar */
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Thumb (the draggable handle) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 9999px; /* fully rounded */
}

/* Thumb hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Hide the top and bottom arrows (aka increment/decrement buttons) */
::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}



